{% extends "market/dp.html" %}

{% block content %}
<h1>Support</h1>
<div class="row">

        <div class="sales">
            <form>
                <div class="form-group">
                    <label for="ticket_title">Ticket title</label>
                    <input type="text" class="form-control" id="ticket_title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
                    <textarea class="form-control" rows="3" id="message" placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Send</button>
            </form>
        </div>

</div>
{% endblock %}